@include tablet {
  .LOGO {
    width: 130px;
  }
}

@include mobile {
  .LOGO {
    width: 175px;
  }

  .nabar_classification_area {
    .nav-item {
      margin-right: 0 !important;
      text-align: center;
      border-bottom: 3px dashed lightblue;
    }
  }

  .count {
    right: -10px !important;
  }

  .features_area {
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;

    .favorites-dropdown-menu {
      position: absolute;
      left: -105px;
      width: fit-content;
    }

    .cart-dropdown-menu {
      position: absolute;
      left: -150px;
      width: fit-content;
    }

    .dropdown-menu-contanier {
      max-height: 215px !important;
    }
  }

}
